.form{
    display: inline-block;
    border: 2px solid black;
    min-width: 300px;
    padding: 10px;
}

.label{
display: block;
}

.input{
    display: block;
    margin-bottom: 15px;
}

.button{
    border: 1px solid #9e9e9e;
    border-radius: 5px;
}
.button:hover,
.button:focus{
    background-color:#4b74f2;
}